<!DOCTYPE html>
<html>
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    {% if g.locale != 'en' %}
      <script src="/static/js/moment-{{g.locale}}.min.js"></script>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class='container'>
      <div class='navbar navbar-inverse'>
        <div class='navbar-inner'>
          <div class='container'>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </a>
            <a class='brand' href='/'>{{ _('Microblog') }}</a>
            <ul class='nav'>
              <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
              {% if g.user.is_authenticated %}
              <li><a href='{{ url_for('user', nickname=g.user.nickname) }}'>{{ g.user.nickname }}</a></li>
              <li><a href='{{ url_for('logout') }}'>{{ _('logout') }}</a></li>
              {% endif %}
            </ul>
            <div class='nav-collapse collapse'>
              {% if g.user.is_authenticated %}
              <form class='navbar-search pull-right' action="{{ url_for('search') }}" method="post" name="search">
                {{ g.search_form.hidden_tag() }}
                {{ g.search_form.search(size=20, placeholder=_('Search'), class='search-query') }}
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class='alert alert-info'>
            <button type='button' class='close' data-dismiss='alert'>&times;</button>
            <Strong>
            {% for message in messages %}
              {{ message }}
            {% endfor %}
            </Strong>
          </div>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>